
body {
  background: #E3E5E2;
  height: 99%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.bar {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  background: #37366C;
  margin-top: -20px;
  margin-left: -8px;
  width: 101%;
  padding-bottom: 10px;
  padding-top: 5px;
  box-shadow: 0px 0px 20px black;
}

.navigation {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
  margin-left: 2%;
  color: white;
  font-size: 16px;
}

.unit {
  box-shadow: 0px 0px 50px black;
}

.title {
  position: relative;
  margin-left: 2%;
  color: white;
}

.stage {
  position: relative;
}

.bts {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 1%;
  margin-right: 25%;
  border: 0px;
  background: green;
  font-size: 15px;
  color: azure;
  box-shadow: 0px 0px 3px black;
  border-radius: 8px;
  transition: 0.1s;
}

.bts:hover {
  box-shadow: 0px 0px 5px azure;
  transform: scale(1.1);
}

.bt {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-right: 1%;
  margin-left: 1%;
  background: blue;
  font-size: 15px;
  color: azure;
  border: 0px;
  box-shadow: 0px 0px 3px black;
  border-radius: 8px;
  transition: 0.1s;
  float: right;
}

.bt:hover {
  box-shadow: 0px 0px 5px azure;
  transform: scale(1.1);
}
